{% extends 'home/base.html' %}

{% block title %}Contact | Imbumba Radiology Imaging{% endblock %}

{% block content %}

<section class="py-16 text-center">
    <h2 class="text-4xl font-semibold text-blue-800 mb-6">Contact Us</h2>
    <p class="text-lg text-gray-700 mb-10">We’d love to hear from you. Reach out with any questions or to schedule a consultation.</p>
    <div class="space-y-2">
        <h1>KwaZulu Natal- Main Branch</h1>
        <p>📍 Essen Medical Centre, </p>
        <p>X-Ray Department,</p> 
        <p>12 Malcolm Road,</p> 
        <p>Ladysmith, 3370</p>
        <p>📞 +27 87 138 5243 / +27 36 631 0671</p>
        <p>📧 reception@imaging21.com</p>
    </div>

    <br>

    <div class="space-y-2">
        <h1>Gauteng - Sitelite Branches</h1>
        <p>📍 Dr Nkosi Medical Centre, </p>
        <p>X-Ray Department,</p> 
        <p>615 Hospital Road,</p> 
        <p>Skhosana, Katlehong, 1431</p>
        <p>📞 +27 10 025 8989</p>
        <p>📧 reception.kat@imbumbaradiology.com</p>
    </div>

    <br>

    <div class="space-y-2">
        <p>📍 Dr Nkosi Medical Centre, </p>
        <p>X-Ray Department,</p> 
        <p>2946 Moagi Road,</p> 
        <p>Vosloorus, ext 2, 1475</p>
        <p>📞 +27 10 036 4680</p>
        <p>📧 reception.voslo@imbumbaradiology.com</p>
    </div>
</section>

{% endblock %}
